.opening{
	position: relative;
	height:700px;
	max-width: 1500px;
 	width: 80%;
	margin: 10em auto;
}

.opening-inner{
    top: 5em;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 165px;
    max-width: 1520px;
}

.opening-inner__item{
    position: relative;
    width: 230px;
    height: 100%;
    transition: .5s ease-out;
    background-color: #fff;
    margin-right: 5px;
    margin-bottom: 20px;
    border-left: 2px solid #29b6f6;
}

.opening-inner__item > img{
	width: 100%;
	height: 100%;
    filter: brightness(70%);
}

